<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackEnd Employees</title>
</head>
<body>
    <h1><b>Welcome mate!!!</b></h1>
    <h2>Details of Back End Employees:</h2>
    <ul>
   <%  for(let e of Employees){ %> 
    <li><a href="/Employee/<%=e._id %>"><b><%=e.name %></b></a> </li>
    <% }  %>
    <br/><br/>
    <button><b><a href="/" style="text-decoration: none">Home Page</a></b></button>
    <br/><br/>
    <button><b><a href="/Employee/newBE" style="text-decoration: none">Add New BackEnd Employee</a></b></button>
</ul>
</body>
</html>