<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TechAnology </title>
</head>
<body>
    <h1><b>Heythere!!! Welcome</b> </h1>
    <br/>
    <ul>
        <li><h2><a href="/UI-UX_Employees">UI/UX</a></h2></li>
        <li><h2><a href="/FrontEnd_Employees">Front End</a></h2></li>
        <li><h2><a href="/BackEnd_Employees">Back End</a></h2></li>
    </ul>
</body>
</html>