<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Employee</title>
</head>
<body>
    <h1>Add a New FrontEnd Employee</h1>
    <form action="/FrontEnd_Employees" method="POST">
        <label for="FE_Employee">Enter the name</label>
        <input type="text" id="FE_Employee" name="name">
        <button>Submit</button>
    </form>
    <br/>
    <button><b><a href="/FrontEnd_Employees" style="text-decoration: none">Cancel</a></b></button>
</body>
</html>